{% extends "website/base.html" %}
{% block content %}
    <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{shift}}
    </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <button type="button" class="btn btn-primary btn-sm btn-block">Find Coverage </button>
            <button type="button" class="btn btn-secondary btn-sm btn-block">Swap Shifts </button>
        </div>
    </div>

{% endblock content %}